## Setting up

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from time import sleep
import numpy as np
from tqdm import tqdm
from selenium import webdriver
import chromedriver_binary
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options


path = chromedriver_binary.chromedriver_filename
link = 'https://www.forbes.com/india-billionaires/list/#tab:overall'

C:\Users\Abdullah Fazili\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
browser = webdriver.Chrome(path)
browser.get(link)

<ipython-input-2-127fab2d0df5>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(path)

In [3]:
soup = BeautifulSoup(browser.page_source,'html.parser')

### Scrolling to reach bottom of page

In [4]:
for i in tqdm(range(0,12000,1000)):
    browser.execute_script("window.scrollTo(0," + str(i) + ")")
    time.sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:12<00:00,  1.02s/it]

### Scraping data from page

In [5]:
data = []
soup = BeautifulSoup(browser.page_source,'html.parser')
for sp in soup.find_all('tr',class_='data'): 
        name = sp.find('td',class_='name').text
        rank = sp.find('td',class_='rank').text.strip('#')
        link = sp.find('a').get('href')
        image= sp.find('img').get('src')
        data.append([rank,name,image,link])

In [6]:
df= pd.DataFrame(data,columns=['Rank','Name','Image','Link'])
df.head()

,Rank,Name,Image,Link
0,1,Mukesh Ambani,//specials-images.forbesimg.com/imageserve/5c7...,/profile/mukesh-ambani/?list=india-billionaires
1,2,Gautam Adani,//specials-images.forbesimg.com/imageserve/624...,/profile/gautam-adani/?list=india-billionaires
2,3,Shiv Nadar,//specials-images.forbesimg.com/imageserve/605...,/profile/shiv-nadar/?list=india-billionaires
3,4,Radhakishan Damani,//specials-images.forbesimg.com/imageserve/59d...,/profile/radhakishan-damani/?list=india-billio...
4,5,Cyrus Poonawalla,//specials-images.forbesimg.com/imageserve/5e7...,/profile/cyrus-poonawalla/?list=india-billiona...

### Changing image and link to useable formats

In [7]:
df['Image'] = 'https:' + df['Image']

In [8]:
print(df['Image'][0])

https://specials-images.forbesimg.com/imageserve/5c7d7829a7ea434b351ba0b6/832x832.jpg?background=000000&cropX1=206&cropX2=2043&cropY1=250&cropY2=2089

In [9]:
df['Link'] = 'https://www.forbes.com/'  + df['Link']

In [10]:
print(df['Link'][0])

https://www.forbes.com//profile/mukesh-ambani/?list=india-billionaires

In [11]:
df.head()

,Rank,Name,Image,Link
0,1,Mukesh Ambani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/mukesh-ambani/...
1,2,Gautam Adani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/gautam-adani/?...
2,3,Shiv Nadar,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/shiv-nadar/?li...
3,4,Radhakishan Damani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/radhakishan-da...
4,5,Cyrus Poonawalla,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/cyrus-poonawal...

In [12]:
df.drop(100,inplace=True)

### Saving page scrap

In [13]:
df.to_csv('PageScrap.csv',index=False)

### Profile Scraper

In [14]:
df

,Rank,Name,Image,Link
0,1,Mukesh Ambani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/mukesh-ambani/...
1,2,Gautam Adani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/gautam-adani/?...
2,3,Shiv Nadar,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/shiv-nadar/?li...
3,4,Radhakishan Damani,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/radhakishan-da...
4,5,Cyrus Poonawalla,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/cyrus-poonawal...
...,...,...,...,...
95,96,Chandrakant & Rajendra Gogri,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/chandrakant-ra...
96,97,Deepak Mehta,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/deepak-mehta-1...
97,98,Vinod Saraf,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/vinod-saraf/?l...
98,99,Bajranglal Taparia,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/bajranglal-tap...
99,100,Yogesh Kothari,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/yogesh-kothari...

In [15]:
data2=[]
browser = webdriver.Chrome(path)
for i in tqdm(df['Link']):  
    browser.get(i)
    soup        = BeautifulSoup(browser.page_source,'html.parser')
    try:
        worth       = soup.find('div',class_='profile-info__item-value').text
    except:
        worth       = np.nan
    try:
        age         = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[1]
    except:
        age         = np.nan
    try:
        source      = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[2]
    except:
        source      = np.nan
    try:
        residence   = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[3]
    except:
        residence   = np.nan
    try:    
        citizenship = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[4]
    except:
        citizenship = np.nan
    try:    
        marital     = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[5]
    except:
        marital     = np.nan
    try:
        children    = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[6]
    except:
        children    = np.nan
    try:    
        education   = soup.find('div',class_='listuser-content__block person-stats').text.replace('Personal StatsAge',' , ').replace('Source of Wealth',' , ').replace('Residence',' , ').replace('Citizenship',' , ').replace('Marital Status',' , ').replace('Children',' , ').replace('Education',' , ').split(' , ')[7]
    except:
        education   = np.nan
    data2.append([worth,age,source,residence,citizenship,marital,children,education])

<ipython-input-15-3527e6639d52>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(path)
100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [07:51<00:00,  4.71s/it]

In [16]:
df_2 = pd.DataFrame(data2,columns=['Worth','Age','Income Source','Residence','Citizenship','Marital Status','Children','Education'])

In [21]:
df_2.head()

,Worth,Age,Income Source,Residence,Citizenship,Marital Status,Children,Education
0,$94.1B,65,diversified,"Mumbai, India",India,Married,3,"Drop Out, Stanford University; Bachelor of Sci..."
1,$74.8B,60,"commodities, infrastructure, Self Made","Ahmedabad, India",India,Married,2,NaN
2,$22.4B,77,"software services, Self Made","Delhi, India",India,Married,1,"Bachelor of Arts/Science, PSG College of Techn..."
3,$29.4B,67,"retail, investments, Self Made","Mumbai, India",India,Married,3,NaN
4,$21.5B,81,vaccines,"Pune, India",India,Widowed,1,"Bachelor of Arts/Science, Pune University; Doc..."

### Saving data

In [22]:
df_2.to_csv('ProfileScrap.csv',index=False)

### Data Combing

In [23]:
df_3 = pd.DataFrame()
df_3['Rank']          = df['Rank']
df_3['Name']          = df['Name']
df_3['Age']           = df_2['Age']
df_3['Net_Worth']     = df_2['Worth']
df_3['Income Source'] = df_2['Income Source']
df_3['Residence']     = df_2['Residence']
df_3['Citizenship']   = df_2['Citizenship']
df_3['Marital Status']= df_2['Marital Status']
df_3['Children']      = df_2['Children']
df_3['Education']     = df_2['Education']
df_3['Image']         = df['Image']
df_3['Profile Link']  = df['Link']

In [24]:
df_3.to_csv('finalscrape.csv',index=False)

In [25]:
df_3.head()

,Rank,Name,Age,Net_Worth,Income Source,Residence,Citizenship,Marital Status,Children,Education,Image,Profile Link
0,1,Mukesh Ambani,65,$94.1B,diversified,"Mumbai, India",India,Married,3,"Drop Out, Stanford University; Bachelor of Sci...",https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/mukesh-ambani/...
1,2,Gautam Adani,60,$74.8B,"commodities, infrastructure, Self Made","Ahmedabad, India",India,Married,2,NaN,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/gautam-adani/?...
2,3,Shiv Nadar,77,$22.4B,"software services, Self Made","Delhi, India",India,Married,1,"Bachelor of Arts/Science, PSG College of Techn...",https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/shiv-nadar/?li...
3,4,Radhakishan Damani,67,$29.4B,"retail, investments, Self Made","Mumbai, India",India,Married,3,NaN,https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/radhakishan-da...
4,5,Cyrus Poonawalla,81,$21.5B,vaccines,"Pune, India",India,Widowed,1,"Bachelor of Arts/Science, Pune University; Doc...",https://specials-images.forbesimg.com/imageser...,https://www.forbes.com//profile/cyrus-poonawal...